*{padding: 0;margin: 0;box-sizing: border-box;font-family: 'Kumbh Sans', sans-serif;}
a{text-decoration: none;}
li{list-style: none;}


header{background-image: url('IMG/textura.jpg');
        background-position: center;
        background-size: cover;
        cursor: pointer;
        width: 100%; height: 80vh;}

header .header-container{max-width: 80%; display: flex; justify-content: space-between;
        margin: auto; padding-top: 50px;align-items: center;}

.header-container nav ul { display: flex;}

.header-container nav ul li a{color: #fff;margin-left: 50px;font-weight: 700;}

.header-container nav ul li a:hover{ color: #FC5C42;padding-bottom: 20px;border-bottom: 2px solid #FC5C42;}

main{width: 50%;display: flex;justify-content: space-between;margin: 0 auto;}

main img{height: 62vh;}

.main-container{width: 500px;margin-top: 50px;margin-left: 50px;}

.main-container p{color: #FC5C42;font-weight: 700;padding-bottom: 20px;font-size: 20px;line-height: 20px;}
.main-container p::after{content: "";
        margin-top: 10px;
        display: block;
        width: 250px;
        height: 2px;
        background: #FC5C42;}
.main-container h1{color: #fff;font-size: 42px;line-height: 50px;}


@media (max-width:700px){
.main-container h1{font-size: 35px;}
     main img{ display: none;}
}
/*servicos*/

#servico{width: 100%;}

.servico-container{max-width: 80%;margin: 0 auto;text-align: center;}

.servico-container h2{margin: 50px 0px 50px 0px;font-weight: bolder;color: #062979;font-size: 40px;}

.servico-container h2::after{
        margin: 20px auto;
        content:"";
        display: block;
        width: 60px;
        height: 3px;
        background: #FC5C42;
}

.quadro{max-width:80%;display: flex;justify-content: space-between;margin: auto;align-items: center;}


.quadro-container h3{color: #FC5C42;margin-bottom: 20px;font-size: 30px;}

.quadro-container p{margin-bottom: 20px;font-size: 20px;font-weight: 500;font-style: italic;line-height: 30px;}

.quadro img{width: 500px;margin: 20px 20px 20px 20px;}


@media (max-width:700px){
       .quadro{flex-wrap: wrap;}
       .quadro img{width: 100%;}
   }
/*consultoria */

#consultoria{width: 100%; background-color: rgb(236, 236, 236);}

.cons-container{max-width: 80%;margin:auto;text-align: center;padding-bottom: 50px;}

.cons-container h2{padding: 50px 0px 50px 0px;font-weight: bolder;color: #062979;font-size: 40px;}

.cons-container h2::after{
        margin:20px auto;
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background: #FC5C42;}

.cons-geral{width: 90%;display: flex;margin: auto;justify-content: space-between;}

.cons-geral .retangulo{width: 32%;background-color: #fff;padding: 30px 40px 30px 40px;box-shadow: 0,0,0,0.2 rgb(180, 180, 180);}

.cons-geral .retangulo img{width: 100%;}

.cons-geral .retangulo h3{color: #FC5C42;margin: 20px 0px 20px 0px;font-size: 25px;}

.cons-geral .retangulo p{text-align: left;padding-bottom: 10px;font-weight: 600;line-height: 20px;}

@media(max-width:700px){
        .cons-geral{flex-direction: column;}
        .cons-geral .retangulo{width: 100%;margin-bottom: 20px;}
}

/*contatos*/

#contato{width: 100%;background-color: #FC5C42;}

.contato-container{max-width: 80%;margin: auto; text-align: center;}

.contato-container h2{padding-top:50px;font-weight: bolder;color: #fff;font-size: 40px;line-height: 50px;margin-bottom: 50px;}

.contato-container h2 span{color:#ad3c2a;}

.contato-container .muda{max-width: 80%;padding-bottom: 50px;display: flex; justify-content: space-between;margin: 0 auto; text-align: center;align-items: center;flex-wrap: wrap;}

input{width:400px;border: 2px solid #fff;display: block;padding: 10px 0px 10px 5px;margin-bottom: 20px;background-color: #FC5C42;color: #fff;}

::-webkit-input-placeholder {
        color: #fff;
     }
      
     :-moz-placeholder { /* Firefox 18- */
        color: #fff;
     }
      
     ::-moz-placeholder {  /* Firefox 19+ */
        color: #fff; 
     }
      
     :-ms-input-placeholder {  
        color: #fff;
     }

     input[type="button"]{width: 150px;padding: 10px ;background: #062979;border: none;
     }

     input[type="button"]:hover{background: #fff;
        color:#062979;font-weight: bolder;transition: 1s;}

        @media(max-width:750px){
                input{max-width: 80%;}
        }

/*rodape*/

#rodape{width: 100%;background-color: #062979;color: #fff;}

.rodape-container{max-width: 80%;margin:0 auto;display: flex;flex-wrap: wrap;justify-content: space-between;padding: 20px 0px 20px 0px;align-items: center;}

.rodape-container img{padding: 10px 0px 10px 0px;}

.rodape-container h4{padding-bottom: 5px;line-height: 20px;font-weight: 600;}

.rodape-container h5{color: #0846d8;}

.fim{font-size: 12px;text-align: center;padding-bottom: 20px;font-weight: 600;}




